<h1>Groups</h1>
<ul>
  <% @groups.each do |group| %>
    <li>
      <%= link_to group_entities_path(group) do %>
        <span><%= group.icon %></span>
        <span><%= group.entities.sum(:amount) %></span>
      <% end %>
    </li>
  <% end %>
</ul>
