<h1>Budget App</h1>

<div class="center">
  <%= link_to "LOGIN", new_user_session_path, class: "login" %>
</div>


<div class="center">
  <%= link_to "SIGN UP", new_user_registration_path, class: "signup" %>
</div>
